nav{
    margin: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;



    .options{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        height: 60px;
        align-items: center;

        .link{

            margin-right: 20px;
            font-size: 24px;

        }
    }
}
